<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity Suite">

    <test name="myTest">
        <parameter name="filter" value= "byChewy,wellness,rawhideFree,natural,adult,small,dryFood,treats,dehydrated"/>
        <classes>
            <!-- packageName.className-->
            <class name="sanity.addDogPremiumFoodFilterSorter"/>
        </classes>
    </test>

</suite>